.ensimmainen {
   background-color: orange;
}

.toinen {
 background-color: pink;
}

.kolmas {
 background-color: yellow;
}

.neljas {
 background-color: lightgreen;
}

.viides {
 background-color: lightblue;
}

.kuudes {
 background-color:Aquamarine;
}

.seitsemas {
 background-color:HotPink;
}

.kahdeksas {
 background-color:MediumOrchid;
}

.yhdeksas {
 background-color:DeepSkyBlue;
}

.kymmenes {
 background-color:LemonChiffon;
}

.yhdestoista {
 background-color:MediumBlue;
}
